INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=1234
INFLUXDB_TOKEN=R1m9Kx2pQv7Zt4Nw8Yd3Hs6Lj0Fa5Bc9Pe2Tr7Um1Vq31
INFLUXDB_ORG=highway
INFLUXDB_BUCKET=highway

EMQX_DASHBOARD_USERNAME=admin
EMQX_DASHBOARD_PASSWORD=1234
